.sizeLetters{
font-size: 30px;
color: white;
background-color: crimson;
height: 50px;
padding-left: 30px;
padding-top: 10px;
display: inline-block;
}
.navbar{
background-color: crimson;

}
.buttonToTheForm{
    padding-top: 10px;
    margin: 10px;
    display: inline-block;
}
.buttonToLogOut{
    display: inline-block;
}
